.pieds {
    display: flex;
    background: #5DADE2;
    height: 150px;
}
.unbas {
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;

}
.deuxbas{
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}

.troisbas {

  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.quatrebas {

  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.cinqbas{
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.sixbas{
  right: 1%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}

header{
  z-index: 1;
  margin-top: -0.5%;
  margin-left: -1%;
  width: 101.4%;
  height: 150px;
  background-color: #696969;

}
body{
  background:#593527;
   margin: 0;
}
#slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 400px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
	animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	
}

#slides figure {
    display: inline-block;
    width: 100vw;
    max-height: 100%;
    margin: 0;
}

#slides figure img {
    width: 100%;
    /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
	font-family:sans-serif;
	font-weight:bold;
	font-style: italic;
}

#slides:hover {
    animation-play-state: paused; /* Mise en pause de l'animation */
}
@keyframes slide {
    0%, 20%, 100% {
        left: 0; /*1ère image*/
    }
    35%, 50% {
        left: -100vw; /*2ème image*/
    }
    70%, 95% {
        left: -200vw; /*3ème image*/
    }
}
.dots_commands  {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding:0;
    margin: 0;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding: 0; 
    margin: 0;
}

.dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]#show_slide1:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3:checked ~ nav .dots_commands li:nth-of-type(3) label {
    outline: none;
    background: dodgerblue;
}

input[type="radio"]#show_slide1:checked ~ div#slides {
    animation: none;
    left: 0;
}

input[type="radio"]#show_slide2:checked ~ div#slides {
    animation: none;
    left: -100vw;
}

input[type="radio"]#show_slide3:checked ~ div#slides {
    animation: none;
    left: -200vw;
}
#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}
input[type="radio"]:not(:nth-last-of-type(1)):checked ~ nav label#play {
    display: block;
}
input[type="radio"]#play:checked ~ div#slides {
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.header {
    display: flex;
}
.un {
  text-decoration: underline;
  margin-left: 35%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.deux{
  margin-left :5%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}

.trois {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.quatre {
  margin-right :5%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.cinq{
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;

}
.six{
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.centrecontact{
  height: 700px;
  margin-left: 30%;
  width: 40%;

}
.centrerejoindre{
  height: 450px;
  margin-left: 30%;
  width: 40%;

}
.logobas{
height: 150px;
width: 200px;

}
a , h3{
  color: black;
  text-decoration: none;
  font-family:'Ananda';
  font-size: 16px;
}
.logo{
  height: 100px;
  width: 100px;
  margin-left: 25%;
}
footer{
  margin-left: -1%;
  width: 101.4%;
  margin-bottom: -1%;
}
.longimg{
width: 70%;
height: 300px;
margin-left: 15%;

}
.njimg{
  margin-top: -2%;
  width: 101.4%;
  margin-left: -1%;
  height: 300px;
}
.fontcontact{
  margin-left: -1%;
  margin-top: -2%;
  width: 101.4%;
  background: white;
  height: 300px;
}
.fontbody{;
  margin-left: -1%;

}
.cadre{
margin-top: -3%;
border-top: white 5px;
background: white;

}
.test1{
height: 20px;
margin-left: -1%;

}
form{
  color: white;
}
.centreaccueil{
height: 500px;


}

.bandeaccueil {
  margin-top:-2%;
  margin-left: -1%;
  width: 101.4%;
  height: 500px;
}
.accueilentreprise{
  margin-top: -2%;
}
.accueilautre{
  margin-top: -2%;
}
.imgpouvreage {
  max-width: 100%;
  height: auto;
}
.entreprise{
  max-width: 110%;
  height: auto;
}
.textentreprise{
  font-size: 20px;
  margin-bottom:10% ;
  margin-left: 6%;
  margin-right: 15%;
}
p{
   font-family:georgia,"times new   roman",times,serif;
}

.titreouvrages{
  position:absolute;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 55px;
  color: white;
}
.titrecouvertures{
  position:absolute;
  margin-left: 42%;
  margin-top: 8%;
  font-size: 55px;
  color: white;
}
.titrecharpentes{
  position:absolute;
  margin-left: 75%;
  margin-top: 8%;
  font-size: 55px;
  color: white;
}
h5
{ 
  font-family: 'Arial';
  margin-bottom:2%;
  margin-left: 6%;
    font-size: 40px; /* Titres de 40 pixels */
}

.imgcharpente2{
  position: absolute;
  width: 500px;
  height: auto;
  margin-left: 25%;
  margin-top: -20%;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.imgcharpente4{
  position: absolute;
  width: 500px;
  height: auto;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: auto;
  flex: 1 1 auto;
}
.imgcharpente{
  width: 500px;
  height: auto;
  margin-top: 1%;
  margin-bottom: auto;
  flex: 1 1 auto;
}
pre{
   font-family:georgia,"times new   roman",times,serif;
   font-size: 20px;
}
h6{
  font-weight: 900;
  font-family: 'Arial';
    font-size: 30px;
 }
 .titrecharpente{
  margin-top: -20.4%;
  margin-left: 27.5%;
  position: absolute;

 }
 .titre2charpente{
  margin-top: -20.4%;
  margin-left: 27.5%;
  position: absolute;
 }
 .titre3charpente{
  margin-top: -41.2%;
  margin-left: 79%;
  position: absolute;

 }

.titre4charpente{
  margin-top: -20.4%;
  margin-left: 79%;
  position: absolute;
 }


.textcharpente
{ position: absolute;
  margin-top: -16.4%;
  margin-left: 24.5%;
}
.text2charpente{
  position: absolute;
  margin-top: -16.4%;
  margin-left: 24.5%;
}
.text3charpente
{
  margin-top: -37.4%;
  margin-left: 76%;
    position: absolute;
}
.text4charpente{
  margin-top: -16.4%;
  margin-left: 76%;
    position: absolute;
}
h4{
    position: absolute;
  margin-left: 40%;
  margin-top: 6%;
  color: white;
  font-size: 75px;

}
.titrebandecharpente{
  font-family: 'Arial';
    font-size: 30px;
    position: absolute;
  margin-left: 28%;
  margin-top: 11%;
  color: white;

}
